@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;


}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #A374FF;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9264e8;
}

/* Hilangkan tombol panah */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes mouse-scroll {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 14px);
    opacity: 0;
  }
}

@keyframes mouse-body-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}

@utility animate-mouse-scroll {
  animation: mouse-scroll 1.5s ease-in-out infinite;
}
/* 
@utility animate-mouse-body {
  animation: mouse-body-bounce 1.2s ease-in-out infinite;
} */